.brand-bar {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.384);
  padding: 23px 30px;
  margin-bottom: 3px;

  @include breakpoint(small only) {
    padding: 23px 20px;
  }

  &__social-txt-blc {
    h3 {
      font: 700 20px/24px $font_open_sans;
      margin-bottom: 8px;
    }
    p {
      font: 400 14px/20px $font_open_sans;
      color: #86878b;
      margin-bottom: 20px;
    }
  }

  &__icons-blc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(medium only) {
      justify-content: space-between;
    }

    @include breakpoint(small only){
      display: block;
    }

    i {
      color: #ccc;
      width: 48px;
      height: 48px;
      font-size: 48px;
      margin: 0;
      text-align: center;

      &:hover{
        color: #666;
      }

      @include breakpoint(small down){
        font-size: 25px;
      }
    }
  }
}
