.contact {
  padding: 114px 30px;
  background-color: $color_white;

  @include breakpoint(medium only) {
    padding: 100px 30px;
  }

  @include breakpoint(small only) {
    padding: 50px 20px;
  }

  &__main-title {
    text-align: center;
    color: $color_black;
    h2 {
      font: 400 36px/43px $font_raleway;
      letter-spacing: 2px;

      @include breakpoint(small only) {
        font-size: 28px;
      }
    }
    .divider_orange::after {
      content: "";
      display: block;
      margin: 30px auto;
    }

    p {
      font: 300 16px/24px $font_open_sans;
      margin-bottom: 80px;
    }
  }

  &__form {
    input {
      @include field();
    }
    textarea {
      @include message();
    }
    label {
      &.error{
        text-align: center;
        color: $color_orange;
      }
    }
  }
  &__btn {
    margin: 50px auto 0;
  }
  &__btn-send {
    color: $color_white;
    background-color: $color_orange;
    font: 500 15px/24px $font_open_sans;
    border-radius: 3px;
    width: 165px;
    padding: 12px 0px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    
    &:focus{
      outline: none;
    }
  }
}
