.features-2 {
  padding: 127px 30px;

  @include breakpoint(medium only) {
    padding: 100px 30px 60px;
  }

  @include breakpoint(small only) {
    padding: 50px 20px 0;
  }

  &__img {
    margin: 50px 30px;

    @media (max-width: 1024px) {
      margin: 0 0 50px;
    }
    img {
      box-shadow: 0px 0px 25px $color_grey;
    }
  }

  &__content {
    h2 {
      font: 700 20px/24px $font_open_sans;
    }
    h3 {
      font: 700 14px/17px $font_open_sans;
    }

    p {
      font: 400 14px/20px $font_open_sans;
      color: #86878b;
      margin-bottom: 50px;
    }
  }

  &__icon-txt-blc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;

    img {
      width: 42px;
      box-shadow: 0px 0px 0 2px $color_orange;
      border-radius: 50%;
      padding: 10px;
      position: absolute;
      top: 0px;
      left: 0;
    }
  }

  &__text {
    padding-left: 75px;
  }
}
