//-------------- Header ------------//
.header {
  @include bg("../images/header-bg.jpg");
  padding: 140px 30px;

  @include breakpoint(medium only) {
    padding: 100px 30px;
  }
  @include breakpoint(small only) {
    padding: 80px 20px;
  }

  h3 {
    text-align: center;
    font-size: 33px;
    color: #acacac;
    font-family: $font_open_sans;
    padding: 60px 0 40px;
    letter-spacing: 1px;

    @include breakpoint(small only) {
      padding: 40px 0 60px;
    }
  }

  &__content {
    color: $color_white;

    @include breakpoint(small only) {
      margin-bottom: 50px;
    }

    h1 {
      color: $color_orange;
      text-transform: uppercase;
      font: 300 90px/90px $font_raleway;
      margin-bottom: 20px;

      @include breakpoint(small only) {
        font-size: 60px;
        line-height: 60px;
      }
    }

    b {
      color: $color_white;
    }

    h2 {
      font-size: 38px;
      text-transform: uppercase;
      font-family: $font_raleway;
      font-weight: 300;
      letter-spacing: 1.2px;

      @include breakpoint(small only) {
        font-size: 28px;
      }
    }

    p {
      font-family: $font_raleway;
      font-weight: 300;
      line-height: 23px;
      font-size: 17px;
      color: #dbdbdb;
      margin-bottom: 50px;

      @include breakpoint(small only) {
        font-size: 14px;
      }
    }

    a {
      display: inline-block;
      color: $color_white;
      font-size: 15px;
      font-family: $font_open_sans;
      font-weight: 600;
      letter-spacing: 1px;
      padding: 10px 0px;
      width: 150px;
      border: 2px solid $color_white;
      text-align: center;

      &:hover{
        background-color: $color_white;
        color: #333;
      }
    }
  }

  form {
    background-color: $color_white;
    border-radius: 3px;
    overflow: hidden;

    @include breakpoint(small only) {
      margin: 0 auto;
    }

    input {
      padding-left: 15px;
      border: none;
      box-shadow: none;
      outline: none;
      border-bottom: 1px solid $color_text_form;
      margin: 19px auto 0;
      width: 80%;

      &[type="password"]:focus,
      &[type="text"]:focus,
      &[type="email"]:focus {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $color_text_form;
        outline: none;
        box-shadow: none;
      }
    }

    label {
        color: #f00;
        font-size: 12px;
        padding-left: 38px;
    }
  }

  &__form-title {
    background-color: $color_light_grey;
    border-radius: 3px;
    margin-bottom: 10px;

    h2 {
      font-size: 22px;
      color: $color-black;
      font-weight: 700;
      padding: 15px 0;
      font-family: $font_open_sans;
      text-align: center;
    }

    b {
      color: $color_orange;
      text-transform: uppercase;
    }
  }

  &__button-send {
    padding-left: 0;
    padding-right: 0;

    button {
      color: $color_white;
      background-color: $color_orange;
      text-align: center;
      padding: 20px 2px;
      margin-top: 42px;
      cursor: pointer;
      width: 100%;

      &:focus, &:hover {
        outline: none;
      }
    }
  }
}
